@using LibreriaColibri.Models.Dtos
@using System.Text.Json
@model GetBookDetailsDto
@{
}
<!--Inicia detalles de libro-->
  <!--separador-->
    <div id="separator-ribbon">
        <div class="content bg-warning "></div>
      </div>
      <!--Titulo de libro -->
      <div class="row pt-2">
        <h3 class="text-center pb-2 pt-2 h3 text-shadow">
          @Model.Title
        </h3>
      </div>
    
    <!--separacion de columnas -->

    <div class=" container pt-2 mb-3">

        <div class="row">
            <div class="col-sm-3">
                
               <img src="@Model.Img" class="w-75"  alt="...">
                   
            </div>
            <div class="col-sm-6">
                <h4>Sinopsis</h4>
                <p class="libroDesc ">@Model.Description</p>
                <h4>Autor</h4>
                <p> @Model.Author</p>
                <h4>Editorial</h4>
                <p> @Model.Ph</p>

            </div>

            <div class="col-sm-3">
              <div class="card border-secondary mb-3" style="max-width: 20rem;">
                
                
                <div class="card-body">
                  <h4 class="card-title"></h4>
                  <p class="card-text text-shadow h3 text-warning">Precio:  $@Model.Price</p>
                    @if(@Model.Depot > 0)
                    {
                        <p>In stock</p>
                        <div class="  pb-2">
                            <p class="text-shadow">Cantidad: </p>
                            <input type="number" class="intNumber card card">
                        </div>
                        <button type="button" onclick="AddToCart(@GetToJson(@Model))" class="btn btn-danger text-center">Agregar al carrito</button>
                    }
                    else
                    {
                        <p>Out off stock</p>
                    }
                    <p class="card-text text-dark pt-2">IVA incluido en caso de ser aplicable </p>
                </div>
              </div>
            </div>
        </div>

    </div>
<!--fin detalles-->


    <script>
        function AddToCart(testObject){
            localStorage.setItem('testObject', JSON.stringify(testObject));
        }
    </script>


@{
    String GetToJson(GetBookDetailsDto model)
    {
        return JsonSerializer.Serialize(model);
    }
}
