@using LibreriaColibri.Models.ViewModels
@model SearchViewModel
@{
    ViewData["Title"] = "Book Search Results";
}

<div class="container py-3">
        <div class="row">
            <div class="col pb-3">
                <p class="display-5">Resultado para: "@Model.SearchText"</p>
            </div>
        </div>

        <div class="row row-cols-4 g-4">
            

                @foreach(var book in Model.SearchBooks)
                {
                    <div class="col">
                        <div class="card bg-secondary">
                            <img src="@book.Img"
                                alt="" class="card-img-top">
                            <div class="card-body text-center">
                                <div class="card-text">
                                    <p class="fs-4">@book.Tittle</p>
                                    <p class="text-muted">@book.Author</p>
                                    <p class="fs-5">$@book.Price</p>
                                </div>
                                <div class="d-grid">
                                    <button class="btn btn-success">Agregar</button>
                                    <a class="btn btn-link" asp-controller="Book" asp-action="BookDetails" asp-route-id="@book.Id"> Ver más </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }

@*
            <div class="col">
                <div class="card bg-secondary">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/51BYcXvTimL._SX332_BO1,204,203,200_.jpg"
                        alt="" class="card-img-top">
                    <div class="card-body text-center">
                        <div class="card-text">
                            <p class="fs-4">The fault in our stars</p>
                            <p class="text-muted">John Green</p>
                            <p class="fs-5">$450.00</p>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-success">Agregar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-secondary">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/51BYcXvTimL._SX332_BO1,204,203,200_.jpg"
                        alt="" class="card-img-top">
                    <div class="card-body text-center">
                        <div class="card-text">
                            <p class="fs-4">The fault in our stars</p>
                            <p class="text-muted">John Green</p>
                            <p class="fs-5">$450.00</p>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-success">Agregar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-secondary">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/51BYcXvTimL._SX332_BO1,204,203,200_.jpg"
                        alt="" class="card-img-top">
                    <div class="card-body text-center">
                        <div class="card-text">
                            <p class="fs-4">The fault in our stars</p>
                            <p class="text-muted">John Green</p>
                            <p class="fs-5">$450.00</p>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-success">Agregar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-secondary">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/51BYcXvTimL._SX332_BO1,204,203,200_.jpg"
                        alt="" class="card-img-top">
                    <div class="card-body text-center">
                        <div class="card-text">
                            <p class="fs-4">The fault in our stars</p>
                            <p class="text-muted">John Green</p>
                            <p class="fs-5">$450.00</p>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-success">Agregar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-secondary">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/51BYcXvTimL._SX332_BO1,204,203,200_.jpg"
                        alt="" class="card-img-top">
                    <div class="card-body text-center">
                        <div class="card-text">
                            <p class="fs-4">The fault in our stars</p>
                            <p class="text-muted">John Green</p>
                            <p class="fs-5">$450.00</p>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-success">Agregar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-secondary">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/51BYcXvTimL._SX332_BO1,204,203,200_.jpg"
                        alt="" class="card-img-top">
                    <div class="card-body text-center">
                        <div class="card-text">
                            <p class="fs-4">The fault in our stars</p>
                            <p class="text-muted">John Green</p>
                            <p class="fs-5">$450.00</p>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-success">Agregar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-secondary">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/51BYcXvTimL._SX332_BO1,204,203,200_.jpg"
                        alt="" class="card-img-top">
                    <div class="card-body text-center">
                        <div class="card-text">
                            <p class="fs-4">The fault in our stars</p>
                            <p class="text-muted">John Green</p>
                            <p class="fs-5">$450.00</p>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-success">Agregar</button>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
