

@using LibreriaColibri.Models.Dtos
@model IEnumerable<GetOrderDto>


@{
    decimal total = 0;

    decimal sumatoria(decimal Price, int cantidad)
    {
        decimal stotal = (Price * cantidad);
        return stotal;
    }
}

@*<h1>PRUEBA</h1>
    @foreach(var order in Model)
    {
    <h1>@order.Title</h1>
    }*@



<h1 class="display-4 text-shadow text-center pt-2">Mis pedidos</h1>
<div class="m-lg-4">
<div class="row">
    <div class="col">
        @foreach (var order in Model)
        {
                <!-- Empieza el diseño de un pedido -->
            <div class="card mt-3">
                <div class="card-header">
                    <div class="row fw-normal fs-5">
                        <div class="col-6">
                            <p>No. de Pedido: @order.Id</p>
                        </div>
                        <div class="col-6 text-end">
                            <p>Fecha de pedido: @order.Date.ToShortDateString()</p>
                        </div>
                    </div>
                </div>
                <div class="card-body px-5">
                    
                        <!-- Primera fila del listado del libros -->
               
                @foreach(var book in order.BooksInOrders)
                {
                     <!-- Primera fila del listado del libros -->
                <div class="row align-items-center">
                        <!-- Columna de la imagen del libro -->
                    <div class="col-3">
                            <img src="@book.Img" class="w-25" alt="">
                        </div>
                        <!-- Columna del nombre y autor del libro -->
                    <div class="col-3">
                            <p class="display-6">@book.Title</p>

                        </div>
                        <!-- Cantidad de ejemplares del libro en el pedido -->
                    <div class="col-3 text-center">
                            <p class="fs-4">@book.Quantity</p>
                        </div>
                        <!-- Costo individual del libro -->
                    <div class="col-3 text-center">
                            <p class="fs-4">@book.Price</p>
                        </div>
                    </div>

                    
                        total += sumatoria(book.Price, book.Quantity);
                    
                }
             </div>

             <!-- Fila del total del pedido -->
                <div class="row">
                        <div class="col-6">
                            @*<p class="fw-normal fs-5">1 articulos mas ...</p>*@
                        </div>
                        <div class="col-6 display-5 ">
                            <p>@total</p>
                        </div>
                    </div>

                    <div class="mt-3 text-end ">
                        <a asp-controller="Order" asp-action="SingleOrder" asp-route-id="@order.Id" class="btn btn-warning">Mostrar detalles</a>
                    </div>
                <!--</div>-->

            </div>         
          

        }  @*<!-- Fila del total del pedido -->
                <div class="row">
                        <div class="col-6">
                            <p class="fw-normal fs-5">1 articulos mas ...</p>
                        </div>
                        <div class="col-6 display-5 text-end">
                            <p>@total</p>
                        </div>
                    </div>

                    <div class="mt-3 text-end">
                        <a href="" class="btn btn-warning">Mostrar detalles</a>
                    </div>
                <!--</div>--> *@
            
        
    </div>
</div>
</div>