@using LibreriaColibri.Models.Dtos
@model IEnumerable<GetOrderDto>

@{
    string[] Estado(string estado)
    {
        string[] b = new string[3];
        if (estado == "Pendiente")
        {
            string[] a=new string[]{ "bg-success","bg-danger","bg-danger","bg-danger" };
            b = a;
        }
        else if (estado == "Empaquetado")
        {
            string[] a=new string[]{ "bg-success","bg-success","bg-danger","bg-danger" };
            b = a;
        }
        else if (estado == "Enviado")
        {
            string[] a=new string[]{ "bg-success","bg-success","bg-success","bg-danger" };
            b = a;
        }
        else if (estado == "Entregado")
        {
            string[] a=new string[]{ "bg-success","bg-success","bg-success","bg-success" };
            b = a;
        }
        return b;
    }
}

@{
    decimal subtotalLibro = 0, subtotal = 0, costoEnvio = 100, total = 0;
    void TotalXLibro(int cantidad, decimal precio)
    {
        subtotalLibro = cantidad * precio;
        subtotal+=subtotalLibro;
    }
    void Total()
    {
        total = subtotal + costoEnvio;
    }
}

@foreach (var order in Model)
{
    <div class="row mb-3 align-items-center">
        <div class="col-8">
            <p class="display-6">Numero de orden: @order.Id</p>
        </div>
        <div class="col-4">
            <p class="fs-5">Fecha de orden: @order.Date.ToShortDateString()</p>
        </div>
    </div>

    <div class="row">

        <!-- Seccion de lista de productos -->

        <div class="col-8">

            <div class="card">
                <div class="card-body">
                
                        @foreach (var book in order.BooksInOrders)
                        {
                            <!-- Primera fila del listado del libros -->
                            <div class="row mb-2 align-items-center">
                                <!-- Columna de la imagen del libro -->
                                <div class="col-3">
                                    <img src="@book.Img" class="w-50" alt="">
                                </div>
                                <!-- Columna del nombre y autor del libro -->
                                <div class="col-3">
                                    <p class="fs-3 fw-light">@book.Title</p>
                                    @*<p class="fst-italic">Autor: #########</p>*@
                                </div>
                                <!-- Cantidad de ejemplares del libro en el pedido -->
                                <div class="col-3 text-center">
                                    <p class="fs-4 fw-light">@book.Quantity x $@book.Price</p>
                                </div>
                                <!-- Costo individual del libro -->
                                <div class="col-3 text-center">
                                    
                                    <p class="fs-4 fw-light">
                                        @{TotalXLibro(book.Quantity,book.Price);}
                                        $@subtotalLibro
                                    </p>
                                </div>
                            </div>
                        }
                

                    <!-- Seccion de los precios -->

                    <div class="row mt-4">
                        <div class="col-6"></div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6 text-center">
                                    <div class="row">
                                        <p>Subtotal</p>
                                    </div>
                                    <div class="row">
                                        <p>Costo deEnvio</p>
                                    </div>
                                    <div class="row mt-3">
                                        <p class="display-6">Total</p>
                                    </div>
                                </div>
                                <div class="col-6 text-center">
                                    <div class="row">
                                        <p>$@subtotal</p>
                                    </div>
                                    <div class="row">
                                        <p>$@costoEnvio</p>
                                    </div>
                                    <div class="row mt-3">
                                        
                                        <p class="display-6">
                                            @{Total();}
                                            @total
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">

            <!-- Seccion de detalles del envio y cliente -->
            <div class="card">
                <div class="card-body fw-light">
                    <p>
                        <span class="fs-3">Nombre: @ViewBag.Usr.Name</span><br>
                        <span class="fs-5">Email: @ViewBag.Usr.Email</span><br>
                        <span class="fs-6">Telefono: @ViewBag.Usr.PhoneNumber</span><br>
                        <hr>

                        <span>Direccion: @ViewBag.Usr.Address</span><br>
                        <span>C.P. @ViewBag.Usr.ZipCode</span><br>
                        <span>Ciudad, Pais: @ViewBag.Usr.City, @ViewBag.Usr.Country</span><br>

                    </p>
                </div>
            </div>
            <div class="card my-2">
                <div class="card-body">
                    <p class="fs-4">Detalles del envio</p>

                    <div class="row mt-3">
                        @*Modificacion*@
                        @{
                            //string[] estado = { "Pendiente", "Empaquetado", "Enviado", "Entregado" };
                            var a = Estado(order.Status);
                            if (a[0] != "")
                            {
                                <div class="col-3 text-center">
                                        <div class="@a[0] card rounded-circle mx-auto" style="width: 2rem; height: 2rem;"></div>
                                        <p>Orden Pendiente</p>
                                    </div>
                                    <div class="col-3 text-center">
                                        <div class="@a[1] card rounded-circle mx-auto" style="width: 2rem; height: 2rem;"></div>
                                        <p>Orden Empaquetada</p>
                                    </div>
                                    <div class="col-3 text-center">
                                        <div class="@a[2] card rounded-circle mx-auto" style="width: 2rem; height: 2rem;"></div>
                                        <p>Orden Enviada</p>
                                    </div>
                                    <div class="col-3 text-center">
                                        <div class="@a[3] card rounded-circle mx-auto" style="width: 2rem; height: 2rem;"></div>
                                        <p>Orden Entregada</p>
                                    </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}