@*@using LibreriaColibri.Models.ViewModels
@model ProfileViewModel*@
@model Usuario
<h1 class="text-info text-center">Cambiar Rol de Usuario</h1>

<div class="container text-center mt-3 mb-3 card col-md-6">
    <div class="content">
        <form method="post" asp-controller="User" asp-action="Editar">
            <input asp-for="@Model.Id" type="hidden" />
            <input asp-for="@Model.Address" type="hidden" />
            <input asp-for="@Model.City" type="hidden" />
            <input asp-for="@Model.Country" type="hidden" />
            @*<input asp-for="@Model.Phone" type="hidden" />*@
            <input asp-for="@Model.ZipCode" type="hidden" />
            <input asp-for="@Model.Name" type="hidden" />
            <input asp-for="@Model.Rol" type="hidden" />
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" readonly class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="IdRol"></label>
                @*<select asp-for="IdRol" asp-items="@Model.ListaRoles" class="form-control">
                    <option disabled selected>--Seleccionar Rol--</option>
                </select>*@

                <select asp-for="IdRol" asp-items="@Model.ListaRoles" class="dropdown-toggle bg-gradient card">
                    <option disabled selected>--Seleccionar rol--</option>
                </select>
            </div>
            <div class="form-group mt-4 mb-5">
                <button type="submit" class="btn btn-success mr-5">Editar Usuario</button>
                <a asp-action="Index" class=" btn btn-danger" style="width:auto">Volver atras</a>
            </div>
        </form>
    </div>
</div>