@model IEnumerable<LibreriaColibri.Models.Usuario>
@{
    ViewData["Title"] = "Administración de usuarios";
}

<h1 class="text-center">Administración de usuarios</h1>

<div class="row">
    <div class="col-sm-3 offset-9">
        <a class="btn btn-info w-100" asp-controller="Access" asp-action="SignupAdmin">Nuevo Empleado</a>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card border">
            <div class="card-header">
                <h3><strong>Lista de usuarios</strong></h3>
            </div>
        </div>
        <div  class="card-body">
            <div class="table-responsive">
                @if (Model.Count() > 0)
                {
                    <table class="table table-secondary" id="tablaUsuarios" width="100%" cellspacing="0">
                        <tread>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.Name)</th>
                                <th>@Html.DisplayNameFor(m => m.Address)</th>
                                <th>@Html.DisplayNameFor(m => m.ZipCode)</th>
                                <th>@Html.DisplayNameFor(m => m.City)</th>
                                <th>@Html.DisplayNameFor(m => m.Country)</th>
                                <th>@Html.DisplayNameFor(m => m.Rol)</th>
                                <th>Acciones</th>
                            </tr>
                        </tread>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(m => item.Name)</td>
                                    <td>@Html.DisplayFor(m => item.Address)</td>
                                    <td>@Html.DisplayFor(m => item.ZipCode)</td>
                                    <td>@Html.DisplayFor(m => item.City)</td>
                                    <td>@Html.DisplayFor(m => item.Country)</td>
                                    <td>@Html.DisplayFor(m => item.Rol)</td>
                                    <td>
                                        <a class="btn btn-primary" asp-controller="User" asp-action="Editar" asp-route-id="@item.Id">Editar</a>
                                        <form asp-action="Borrar" asp-route-id="@item.Id">
                                            <button type="submit" onclick="return confirm('¿Esta seguro de borrar este registro?')" class="btn btn-danger">Borrar</button>
                                        </form>
                                        @*<a class="btn btn-danger" asp-controller="User" asp-action="Borrar" asp-route-id="@item.Id">Borrar</a>*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>No hay registros</p>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_validationScriptsPartial");}

    <script>
        $(document).ready(function () {
            //llamar datatable
            $('#tablaUsuarios').DataTable({
                languaje: {
                    "decimal": "",
                    "emptyTable": "No hay informacion",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>
}